daemon=${DDCLIENT_DAEMON_SECONDS}
syslog=yes
ssl=${DDCLIENT_SSL}
pid=/var/run/ddclient.pid
use=${DDCLIENT_USE}
web=${DDCLIENT_WEB}
web-skip='${DDCLIENT_WEB_SKIP}'
protocol=${DDCLIENT_PROTOCOL}
${DDCLIENT_CUSTOM_LINE}
${DDCLIENT_SERVER_LINE}
${DDCLIENT_SCRIPT_LINE}
${DDCLIENT_PROVIDER_LINE}
login=${DDCLIENT_LOGIN}
password='${DDCLIENT_PASSWORD}'
${DDCLIENT_ZONE_LINE}
${DDCLIENT_TTL_LINE}
${DDCLIENT_HOSTS}
