daemon=${DDCLIENT_DAEMON_SECONDS}
syslog=yes
ssl=${DDCLIENT_SSL}
pid=/var/run/ddclient.pid
use=${DDCLIENT_USE}
web=${DDCLIENT_WEB}
web-skip='${DDCLIENT_WEB_SKIP}'
protocol=${DDCLIENT_PROTOCOL}
provider=${DDCLIENT_PROVIDER}
login=${DDCLIENT_LOGIN}
password='${DDCLIENT_PASSWORD}'
zone=${DDCLIENT_ZONE}
ttl=${DDCLIENT_TTL}
${DDCLIENT_RECORD}.${DDCLIENT_ZONE}
